.animationContainer {
  background-color: var(--magenta);
  border-bottom: 2px solid var(--neutral);
  min-height: 165px;
  padding: 25px 16px;
  overflow: hidden;
  &__disabled {
    border-bottom: 2px solid var(--neutral);
    min-height: 165px;
    padding: 25px 16px;
    background-color: var(--disabledBackground);
  }
}
.desktopView {
  display: none;
}
.mobileView {
  display: block;
  &__disabled {
    display: none;
  }
}
.mobileView > svg {
  animation: gameboys 6000ms linear 0.1ms infinite;
}
@media only screen and (min-width: 768px) {
  .animationContainer {
    border-bottom: 0;
    padding: 40px 30px;
  }
  .mobileView {
    display: none;
  }
  .desktopView {
    display: block;
  }
  .desktopView > svg {
    animation: gameboys-up 6000ms linear 0.1ms infinite;
  }
}

@keyframes gameboys {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}
@keyframes gameboys-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}
