.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer > div {
  margin-bottom: 20px;
}
.inputContainer > div > input {
  width: 100%;
}
.formContainer {
  background-color: var(--whiteBackground);
  padding: 32px 16px;
}

.formHeading {
  color: var(--neutral);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.formHeadingSpan {
  color: var(--magenta);
}
.privacyPolicyParagraph {
  display: flex;
  margin-bottom: 16px;
}
.privacyPolicyText {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.privacyPolicyTextDisabled {
  color: var(--disabledBackground);
}
.privacyPolicyTextDisabled > a {
  display: inline;
}
.privacyPolicyText > a {
  display: inline;
}
.toggleSwitchContainer {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.toggleSwitchText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
  }
  .formHeading {
    line-height: 52px;
    font-size: 45px;
  }
  .privacyPolicyParagraph {
    margin-bottom: 32px;
  }
  .toggleSwitchContainer {
    margin: 32px 0;
  }
  .toggleSwitchText {
    font-weight: 500;
  }
}
